<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
<title>Login Fail Page</title>
</h:head>
<h:body>
	<ui:define name="title">Login Fail Page</ui:define>
	<!-- Welcome label and navigation back to the login page -->
	<div align="center">
			<h3>Sorry, login has failed.</h3>
			<a href="login.xhtml">Try again</a>
		<br/>
	<h:form>
	</h:form>
	</div>
</h:body>
</html>