
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
<title>Login Success Page</title>
</h:head>
<h:body>
	<ui:define name="title">Login Success Page</ui:define>
	<!-- Welcome label and navigation back to the login page -->
	<div align="center">
		<h3>Success! You are now logged in as #{user.username} </h3>
		<br/>
	<h:form>
	</h:form>
	</div>
</h:body>
</html>