<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<!-- h is the namespace for JSF html library  -->
<h:head>
	<title>Please Login Here</title>

</h:head>

<body>
	<!-- Set the layout and title for this page -->
	<!--To create a css stylesheet keep it in the layouts folder, under resources directory  -->
	<!-- <link rel="css" href="/css/custom.css"> -->

	<h:form>		
	User Name: <h:inputText value="#{user.username}" title="" />
		<br> <h:message for="firstName" /> </br>
	Password: <h:inputText value="#{user.password}" title="" />
		<br> <h:message for="lastName" /> </br>
		<h:commandButton action="#{loginController.onSubmit(user)}"
			value="Submit"></h:commandButton>
		Click <a href="RegisterForm.xhtml">here</a> to register
	</h:form>


</body>
</html>