<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<head>
	<title><ui:insert name="pageTitle">JSF Register Page</ui:insert></title>
</head>

<body>
<!-- Set layout and title for this page -->
	<ui:composition template="/layouts/commonLayout.xhtml">
	<ui:define name="title">Registration Page</ui:define>
	<ui:define name="content">
	<div align="center">
	
			<h:form>
				First Name: <h:inputText value="#{user.firstName}" title= ""/> <h:message for="firstName" /><br/>
				Last Name: <h:inputText value="#{user.lastName}" title= ""/> <h:message for="lastName"/><br/>
				E-mail: <h:inputText value="#{user.email}" title= ""/> <h:message for="email"/><br/>
				Phone Number: <h:inputText value="#{user.phone}" title= ""/> <h:message for="phone"/><br/>
				Username: <h:inputText value="#{user.username}" title= ""/> <h:message for="username"/><br/>
				Password: <h:inputSecret value="#{user.password}" title= ""/> <h:message for="password"/><br/>
				<h:commandButton action="#{registerController.onSubmit(user)}"  value="Submit"/><br/> <!-- manage bean is a method argument in faces context --> 
				Click <a href="login.xhtml">here</a> to login
			</h:form>
			<h:messages /> 
		</div>
		</ui:define>
	 </ui:composition>
</body>
</html>
